body {
  padding-top: 61px;  /* Move body of page below navbar. */
}

.ui.top.fixed.borderless.inverted.menu {
  background-color: #014C37;
}

#login-buttons a, .accounts-dialog a {
  color: rgba(255, 255, 255, 0.901961);
}